<!DOCTYPE html>
<html>
    <head>
      <title>Trading book app</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topmenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                  <span class="glyphicons glyphicons-book-open" aria-hidden="true"></span> <i class="fa fa-book" aria-hidden="true"></i></i></span> Transfer Books
              </a>
            </div>
            
            <div class="collapse navbar-collapse" id="topmenu">
              <ul class="nav navbar-nav">
                  <li><a href="Books">All Books</a></li>
                  <li><a href="MyBooks">My Books</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/signup">SignUp</a></li>
                  <li><a href="/login">Login</a></li>
              </ul>
            </div>
          
        </nav>        
        <div id="app" class="container"></div>
        
        <footer>
            <p> a <a href="https://www.freecodecamp.com/" target="_blank">FCC</a> basejump exercise by <a href="https://www.freecodecamp.com/moigithub" target="_blank">@MMan</a></p>
            <p>Powered by <a href="https://developers.google.com/books/docs/overview">Google Books API</a></p>
        </footer>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/bundle.js"></script>
    
</html>
