<!DOCTYPE html>
<html>
    <head>
      <title>Trading book app</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topmenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                  <span class="glyphicons glyphicons-book-open" aria-hidden="true"></span> <i class="fa fa-book" aria-hidden="true"></i></i></span> Transfer Books
              </a>
            </div>

        </nav>        
        
        <div class="container">
        
            <div class="col-sm-6 col-sm-offset-3">
            
                <h1><span class="fa fa-sign-in"></span> Login</h1>
            
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
            
                <!-- LOGIN FORM -->
                <form action="/login" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
            
                    <button type="submit" class="btn btn-warning btn-lg">Login</button>
                </form>
            
                <hr>
            
                <p>Need an account? <a href="/signup">Signup</a></p>
                <p>Or go <a href="/">home</a>.</p>
            
            </div>
        
        </div>
        
        <footer>
            <p> a <a href="https://www.freecodecamp.com/" target="_blank">FCC</a> basejump exercise by <a href="https://www.freecodecamp.com/moigithub" target="_blank">@MMan</a></p>
            <p>Powered by <a href="https://developers.google.com/books/docs/overview">Google Books API</a></p>
        </footer>
    </body>
</html>






